# Flutter & Pub
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Environment Variables
*.env

# Visual Studio Code
.vscode/

# Android Studio
/android/app/debug
/android/app/profile
/android/app/release

# IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea/

# Symbolication
app.*.symbols

# Obfuscation
app.*.map.json

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/